<footer class="expanded row">
  <!-- <ul class="menu">
    <li><a href="#">Pracownia konserwacji</a></li>
    <li><a href="#">Pracownia projektów i aranżacji</a></li>
    <li><a href="#">Innowacje</a></li>
    <li><a href="#">Referencje</a></li>
    <li><a href="#">O nas</a></li>
    <li><a href="#">Kontakt</a></li>
  </ul> -->

  <div class="large-6 columns footer__copyrights">
    {% t global.footer %}
  </div>
  <div class="large-6 columns footer__authors">
    <a href="http://piotrkmita.pl">
      {% if page.active == "index" %}
      Piotr Kmita UI/UX Designer
      {% elsif page.active == "conservation" %}
      UI/UX Designer Warszawa
      {% elsif page.active == "contact" %}
      UI UX Designer Piotr Kmita
      {% elsif page.active == "about" %}
      UI Designer Piotr Kmita
      {% elsif page.active == "innovations" %}
      UX Designer Piotr Kmita
      {% elsif page.active == "projects" %}
      Designed by PiotrKmita.pl
      {% elsif page.active == "references" %}
      UI/UX Designer Warsaw
      {% else %}
      Piotr Kmita UI/UX Designer
      {% endif %}
    </a>
    <!-- <a href="http://invinsys.com">Innovation certification</a> -->
  </div>
</footer>

</div>
</div>
</div>


<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
