<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right" id="offCanvas" data-position="right" data-off-canvas>

      <!-- Close button -->
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Menu -->
      <ul class="vertical menu">

        <!-- ##################################
        # menu start
        ################################## -->

                {% if page.active == "conservation" %}
                  <li><a href="{{ "conservation.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.conservation }}</a></li>
                {% else %}
                  <li><a href="{{ "conservation.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.conservation }}</a></li>
                {% endif %}

                {% if page.active == "projects" %}
                <li><a href="{{ "projects.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.projects }}</a></li>
                {% else %}
                <li><a href="{{ "projects.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.projects }}</a></li>
                {% endif %}

                {% if page.active == "innovations" %}
                <li><a href="{{ "innovations.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.innovations }}</a></li>
                {% else %}
                <li><a href="{{ "innovations.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.innovations }}</a></li>
                {% endif %}

                {% if page.active == "references" %}
                  <li><a href="{{ "references.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.references }}</a></li>
                {% else %}
                  <li><a href="{{ "references.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.references }}</a></li>
                {% endif %}

                {% if page.active == "us" %}
                  <li><a href="{{ "us.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.us }}</a></li>
                {% else %}
                  <li><a href="{{ "us.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.us }}</a></li>
                {% endif %}

                {% if page.active == "contact" %}
                  <li><a href="{{ "contact.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.contact }}</a></li>
                {% else %}
                  <li><a href="{{ "contact.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.contact }}</a></li>
                {% endif %}
                
      </ul>
      <!-- ##################################
      # ENGLISH menu end
      ################################## -->

      </ul>

    </div>

    <div class="off-canvas-content" data-off-canvas-content>
