<div class="admin__info">
</div>

<div data-sticky-container>
<div class="topBar" data-sticky data-options="marginTop:0;" style="width:100%">
  <div class="expanded row collapse">

    <div class="small-6 medium-2 large-2 columns">
      <div style="display:table;height:70px;">
        <div style="display:table-cell;vertical-align:middle;">
          {% if site.lang == "en" %}
            <a href="/en/">
          {% else %}
            <a href="/">
          {% endif %}
            <img src="img/logo.svg" class="topbar__logo" alt="">
          </a>
        </div>
      </div>

    </div>

    <div class="small-6 medium-10 large-0 columns topbar__hamburger hide-for-large text-right">
      <div style="display:table;height:70px; width:100%;text-align:right;">
        <div style="display:table-cell;vertical-align:middle;">
          <img src="img/menu.svg" data-toggle="offCanvas" alt="">
        </div>
      </div>

    </div>

    <div class="large-10 columns show-for-large">
      <ul class="menu align-right">
        {% if site.lang == "en" %}
          {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
          <li>
            <a href="{{ link1 }}">
              <img src="{{ "/img/polish.svg" | prepend: site.baseurl_root }}" class="img-lang" alt="Polski">
            </a>
          </li>
        {% else %}
          {% capture link2 %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}
          <li>
            <a href="{{ link2 }}">
              <img src="{{ "/img/english.svg" | prepend: site.baseurl_root }}" class="img-lang" alt="English">
            </a>
          </li>
        {% endif %}


          <!-- ##################################
          # menu start
          ################################## -->
          {% if page.active == "contact" %}
            <li><a href="{{ "contact.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.contact }}</a></li>
          {% else %}
            <li><a href="{{ "contact.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.contact }}</a></li>
          {% endif %}

          <li><a href="#">{{ site.translations[site.lang].topbar.about }}</a></li>

          {% if page.active == "references" %}
            <li><a href="{{ "references.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.references }}</a></li>
          {% else %}
            <li><a href="{{ "references.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.references }}</a></li>
          {% endif %}


          {% if page.active == "innovations" %}
          <li><a href="{{ "innovations.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.innovations }}</a></li>
          {% else %}
          <li><a href="{{ "innovations.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.innovations }}</a></li>
          {% endif %}

          {% if page.active == "projects" %}
          <li><a href="{{ "projects.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.projects }}</a></li>
          {% else %}
          <li><a href="{{ "projects.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.projects }}</a></li>
          {% endif %}

          {% if page.active == "conservations" %}
            <li><a href="{{ "conservations.html" | prepend: site.baseurl_root }}" class="active">{{ site.translations[site.lang].topbar.conservation }}</a></li>
          {% else %}
            <li><a href="{{ "conservations.html" | prepend: site.baseurl_root }}">{{ site.translations[site.lang].topbar.conservation }}</a></li>
          {% endif %}
        </ul>
        <!-- ##################################
        # ENGLISH menu end
        ################################## -->

    </div>

  </div>
</div>
</div>
