<!-- <div class="admin__info">
</div> -->

<div data-sticky-container>
<div class="topBar" data-sticky data-options="marginTop:0;" style="width:100%">
  <div class="expanded row collapse">

    <div class="small-6 medium-2 large-2 columns">
      <div style="display:table;height:70px;">
        <div style="display:table-cell;vertical-align:middle;">
          <a href="/"><img src="img/logo.svg" class="topbar__logo" alt=""></a>
        </div>
      </div>

    </div>

    <div class="small-6 medium-10 large-0 columns topbar__hamburger hide-for-large text-right">
      <div style="display:table;height:70px; width:100%;text-align:right;">
        <div style="display:table-cell;vertical-align:middle;">
          <img src="img/menu.svg" data-toggle="offCanvas" alt="">
        </div>
      </div>

    </div>

    <div class="large-10 columns show-for-large">
      <ul class="menu align-right">

        {% if page.active == "kontakt" %}
          <li><a href="/kontakt.html" class="active">Kontakt</a></li>
        {% else %}
          <li><a href="/kontakt.html">Kontakt</a></li>
        {% endif %}
        <li><a href="#">O nas</a></li>
        <li><a href="#">Referencje</a></li>

        {% if page.active == "innowacje" %}
        <li><a href="/innowacje.html" class="active">Innowacje</a></li>
        {% else %}
        <li><a href="/innowacje.html">Innowacje</a></li>
        {% endif %}

        {% if page.active == "projekty" %}
        <li><a href="/projekty.html" class="active">Projekty i aranżacje</a></li>
        {% else %}
        <li><a href="/projekty.html">Projekty i aranżacje</a></li>
        {% endif %}

        {% if page.active == "konserwacja" %}
          <li><a href="/konserwacja.html" class="active">Konserwacja</a></li>
        {% else %}
          <li><a href="/konserwacja.html">Konserwacja</a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>
</div>
