@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin-ext,latin);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);


$body-font-family: 'Lato', sans-serif;
$pt-serif: "PT Serif", serif;

$light-grey:            	#efefef;
$brown:              		#221f1e;
$gold:              		#bd9658;
$grey:              		#a9a9a9;
$grey-bg:          			#f5f5f5;
$grey-border:      			#dfdfdf;
$error-red:					#db533b;
$error-bg:           #F7DBD6;
