<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION ABOUT START -->
    <!-- ######################################### -->
    <section class="about">
      <div class="expanded row">
        <div class="large-6 columns about__content text-center">

          <h1>Bartłomiej Szefer</h1>
          <h2>Założyciel Art Inventis</h2>
          <p>Pragmatyk, projektant, rzeźbiarz, specjalista w dziedzinie sztukatorstwa, technik konserwatorskich i historii sztuki, zwolennik tradycyjnych sprawdzonych rozwiązań technicznych. Cechuje go niezwykła dbałość o szczegóły nie ograniczając umiejętności analitycznego spojrzenia na całokształt zagadnienia. Ma 15 lat doświadczenia jako sztukator i konserwator.</p>
          <p>Prywatnie taternik, amator kolarstwa przełajowego, kolekcjoner muzyki, miłośnik literatury.</p>
        </div>
        <div class="large-6 columns about__portrait">

        </div>
      </div>
      <div class="expanded row about__team">
        <div class="large-3 columns text-center">
          <h2>Zespół Art Inventis</h2>
        </div>
        <div class="large-9 columns text-center">
          <p>Nasz zespół składa się z doświadczonych konserwatorów sztuki, architektów, techników budownictwa, chemii oraz konstruktorów.</p>
        </div>
      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION ABOUT END -->
    <!-- ######################################### -->

    {% include cta.html %}
    {% include footer.html %}

  </body>
</html>
