<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="contact__view">
    <div class="small reveal" id="msgModal" data-reveal>
      <img class="sent-img" src="img/mail-sent.svg" alt="">
      <h1>{{ site.translations[site.lang].pages.contact.modal__h1 }}</h1>
      <p>{{ site.translations[site.lang].pages.contact.modal__p }}</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION HERO START -->
    <!-- ######################################### -->
    <section class="contact">
      <div class="expanded row">

        <div class="large-6 large-centered columns text-center">

            <div class="contact__typo">
              <h1>{{ site.translations[site.lang].pages.contact.h1 }}</h1>
              <h2>{{ site.translations[site.lang].pages.contact.h2 }}</h2>
            </div>


            <form class="contact__form">

              <div class="row">

                <div class="medium-6 columns">
                  <label class="text-left">{{ site.translations[site.lang].pages.contact.name }}
                    <input type="text" class="input-name" placeholder="" name="name">
                  </label>
                </div>

                <div class="medium-6 columns">
                  <label class="text-left">{{ site.translations[site.lang].pages.contact.mail }}
                    <input type="text" class="input-email" placeholder="" name="_replyto">
                  </label>
                </div>

                <div class="medium-12 columns">
                  <label class="text-left">
                    {{ site.translations[site.lang].pages.contact.content }}
                    <textarea placeholder="{{ site.translations[site.lang].pages.contact.content__placeholder }}" class="input-content" name="message"></textarea>
                  </label>
                </div>

                <div class="medium-12 columns form__errors">

                </div>

                <div class="medium-12 columns">
                  <button type="button" class="btn-ghost btn-send">{{ site.translations[site.lang].pages.contact.send }}</button>
                </div>

              </div>
            </form>



        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION HERO END -->
    <!-- ######################################### -->

  {% include contact-map.html %}
  {% include footer.html %}
  <script src="{{ "js/contact.js" | prepend: site.baseurl_root }}"></script>
  </body>
</html>
