<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION HERO START -->
    <!-- ######################################### -->
    <section class="home">
      <div class="expanded row hero-section">

        <div class="large-7 columns hero__left">
          <div class="helper1">
            <div class="hero__typo">
              <h1>Projekty, aranżacje oraz konserwacja zabytków</h1>
              <h2>Łączymy wielopokoleniową tradycję i nowoczesną technologię</h2>
              <button onclick="location.href = '/kontakt.html';" href="kontakt.html" class="btn-ghost">Skontaktuj się z nami</button>
            </div>
          </div>
        </div>

        <div class="large-5 show-only-on-large columns hero__illu">
        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION HERO END -->
    <!-- ######################################### -->




    <!-- ######################################### -->
    <!-- SECTION ABOUT START -->
    <!-- ######################################### -->
    <section class="home-about">
      <div class="expanded row collapse">

        <div class="medium-12 large-4 columns home-about__left">
          <img src="img/about1.png" alt="" class="box-shadow home-about__left-img">
          <img src="img/about2.png" alt="" class="box-shadow home-about__left-img show-for-medium hide-for-large">
          <img src="img/about3.png" alt="" class="box-shadow home-about__left-img show-for-medium hide-for-large">
        </div>

        <div class="large-6 columns home-about__content">
          <h3>Zajmujemy się kompleksową obsługa projektów w zakresie architektury i dekoracji, śmiałych realizacji budowlanych oraz konserwacji zabytków.</h3>
          <p>Pracujemy z klientami nad wizualizacją ich pomysłów, projektujemy i produkjemy dekoracje:  m.in.sztukaterie, malowidła, stolarkę także przy użyciu nowoczesnych materiełów, które sami produkujemy. Kierujemy i koordynujemy kompeksowymi realizacjami, zgodnie z globlanymi standardami zarządzania. Zajmujemy sie także tradycjną konserwacją zabytków, kótrej to tradycja sięga  w firmie dwóch pokoleń.
            <span>Serdecznie zapraszamy do współpracy</span>
            <img src="img/signatures.png" class="home-about__signatures" alt="">
          </p>
        </div>

        <div class="large-2 columns text-right home-about__right show-for-large">
          <img src="img/about2.png" alt="" class="box-shadow">
          <img src="img/about3.png" alt="" class="box-shadow">
        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION ABOUT END -->
    <!-- ######################################### -->




    <!-- ######################################### -->
    <!-- SECTION SERVICES START -->
    <!-- ######################################### -->
    <section class="services text-center">
      <h2>Czym się zajmujemy?</h2>
      <div class="expanded row">

        <div class="large-4 columns">
          <img src="img/service-konserwacja.svg" alt="">
          <h3>Pracownia konserwacji zabytków</h3>
          <p>Od 20 lat zajmujemy się konserwacja zabytków. Nasza specjalnościa jes konserwacja rzeżby i sztukatorstwo, ale współpracujemy z najlepszymi specjalistami konserwacji polichromii, drewna.</p>
          <button class="btn-ghost btn-small">Dowiedz się więcej</button>
        </div>

        <div class="large-4 columns">
          <img src="img/service-projekty.svg" alt="">
          <h3>Pracownia projektów i aranżacji</h3>
          <p>Projektujemy i realizujemy aranżacje w całej Europie dla inwestorów prywatnych i instytucjonalnych, którzy cenią sobie zgodność  z kanonami sztuki oraz unikalny, robiony na zamówienie projekt.</p>
          <button class="btn-ghost btn-small">Dowiedz się więcej</button>
        </div>

        <div class="large-4 columns services__innovations">
          <img src="img/service-innowacje.svg" alt="">
          <h3>Innowacyjne badania</h3>
          <p>Aby zapewnic wykonalność  naszych unikalnych projektów, nieustatnie pracujemy i usprawniamy nowe technologie i materiały budlowane i dekoracyjne, takie jak beton i poliuretany.</p>
          <button class="btn-ghost btn-small">Dowiedz się więcej</button>
        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION SERVICES END -->
    <!-- ######################################### -->





  {% include contact-map.html %}
  {% include cta.html %}
  {% include footer.html %}
  <script src="js/home.js"></script>
  </body>
</html>
