<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="references__view">
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION HERO START -->
    <!-- ######################################### -->

    <section class="references">
      <div class="expanded row">

        <div class="large-8 large-centered columns text-center">

            <div class="contact__typo">
              <h1>Referencje</h1>
              <h2>Najlepiej o nas świadcza opinie naszych klientów</h2>
            </div>

        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION HERO END -->
    <!-- ######################################### -->


    <section class="references__featured">
      <div class="expanded row" data-equalizer>

        <div class="large-4 columns">
          <img src="img/reference1.jpg" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
            <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
          </div>
        </div>

        <div class="large-4 columns">
          <img src="img/reference2.png" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">Ul. Mikołowska 32 Katowice Kościół  p.w. św. Ap. Piotra i Pawła</span>
            <span class="featured__label__what">Konserwacja wnętrza kościoła, odsalanie i wymiana tynków, badania i odkrywki, konserwacja watku ceglanego, konserwacja polichromii, modernizacja instalacji elektrycznej i oświetlenia</span>
          </div>
        </div>

        <div class="large-4 columns">
          <img src="img/reference3.png" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
            <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
          </div>
        </div>

      </div>

    <div class="expanded row" data-equalizer>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Kamienica przy Kazimierzowskiej 5 w Warszawie</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
    </div>

    <div class="expanded row" data-equalizer>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
    </div>

    <div class="expanded row" data-equalizer>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Gmach Opery Odessa Ukraina</span>
          <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
        </div>
      </div>
    </div>
    </section>



    {% include cta.html %}
    {% include footer.html %}
  </body>
</html>
