<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="references__view">
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION HERO START -->
    <!-- ######################################### -->

    <section class="references">
      <div class="expanded row">

        <div class="large-8 large-centered columns text-center">

            <div class="contact__typo">
              <h1>{{ site.translations[site.lang].references.ref__header }}</h1>
              <h2>{{ site.translations[site.lang].references.ref__subheader }}</h2>
            </div>

        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION HERO END -->
    <!-- ######################################### -->


    <section class="references__featured">
      <div class="expanded row featured__container" data-equalizer>

        <div class="medium-6 large-4 columns">
          <img src="img/reference1.jpg" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">Gmach Opery Odessa - Ukraina</span>
            <span class="featured__label__what">Konsultacja prac przygotowawczych dla oferenta na konserwację złoceń sali głównej i foyer</span>
          </div>
        </div>

        <div class="medium-6 large-4 columns">
          <img src="img/reference2.png" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">Saturna Termy Rzymskie - Ul. Dehnelów 2 Czeladź Pałac</span>
            <span class="featured__label__what">
              Projekt i realizacja aranżacji obiektu termalnego. Koordynacja, roboty konstrukcyjne, roboty wykończeniowe i sztukatorskie. Pełna aranżacja od koncepcji do otwarcia obiektu oraz wsparcie projektowe.
              </span>
          </div>
        </div>

        <div class="medium-6 large-4 columns">
          <img src="img/reference3.png" alt="">
          <div class="featured__label text-center" data-equalizer-watch>
            <span class="featured__label__place">SłowacjaHotel Aphrodite Place - Osloboditeľov 131/4, 130 13 Rajecké Teplice</span>
            <span class="featured__label__what">Produkcja i koordynacja dostaw sztukaterii gipsowej. Szkolenia w zakresie prac przygotowawczych montażowych i pozłotniczych, konsultacje projektów, dostawy materiałów wykończeniowych i pozłotniczych</span>
          </div>
        </div>

      </div>

    <div class="row non-featured__container">
      <div class="large-12 columns text-center">
        <h3 class="non-featured__h3">{{ site.translations[site.lang].references.ref__subheader2 }}</h3>
      </div>
    </div>

    <div class="row non-featured__container" data-equalizer>

      <div class="medium-6 large-4 columns" >
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Rynek 12 - Bytom</span>
          <span class="featured__label__what">
            Remont i konserwacja kamienicy, stabilizacja konstrukcji, rekonstrukcja elewacji wraz z odbudowa lukarn, remont dachu.
            </span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Rezydencja prywatna - Stanica gm. Pilchowice</span>
          <span class="featured__label__what">Projekt i realizacja dekoracji sztukatorskiej i polichromii.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Ul. Mariacka 7 - Katowice</span>
          <span class="featured__label__what">Konserwacja i rekonstrukcja sztukaterii i polichromii sieni kamienicy.</span>
        </div>
      </div>

    </div>
    <div class="row non-featured__container" data-equalizer>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Kościół  p.w. św. Ap. Piotra i Pawła - ul. Mikołowska 32 Katowice</span>
          <span class="featured__label__what">Liczne konserwacje drewnianych figur polichromowanych (figury Bożego grobu, krucyfiksy, przedstawienie Matki Bożej).</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Ul. Warszawska 65 - Katowice</span>
          <span class="featured__label__what">Prace konserwatorskie elewacji dachu.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">ul. Warszawska 30 - Katowice</span>
          <span class="featured__label__what">Konserwacja i rekonstrukcja elewacji zabytkowej kamienicy, odbudowa lukarn.</span>
        </div>
      </div>

    </div>
    <div class="row non-featured__container" data-equalizer>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Ul. Starowiejska 13 - Katowice</span>
          <span class="featured__label__what">Konserwacja i renowacja detalu sztukatorskiego zabytkowej kamienicy.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Kościół  p.w. Wniebowzięcia NMP Ul. Rodzinna 15 - Kobiór</span>
          <span class="featured__label__what">Konserwacja i remont elewacji wieży i budynku probostwa.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Rynek 12 - Bytom</span>
          <span class="featured__label__what">Rekonstrukcja wystroju sztukatorskiego kamienicy</span>
        </div>
      </div>

    </div>
    <div class="row non-featured__container" data-equalizer>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Ul. Sw. Jana - Katowice</span>
          <span class="featured__label__what">Współpraca przy konserwacji i rekonstrukcji sztukaterii i polichromii sieni zabytkowej kamienicy.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Ul. Mariacka - Katowice</span>
          <span class="featured__label__what">Współpraca przy konserwacji i rekonstrukcji sztukaterii i polichromii sieni zabytkowej kamienicy.</span>
        </div>
      </div>

      <div class="medium-6 large-4 columns">
        <div class="non-featured__label text-center" data-equalizer-watch>
          <span class="featured__label__place">Kościół  ewangelicki Sw. Jana Ewangelisty - Ul. Żeromskiego 1 Sosnowiec</span>
          <span class="featured__label__what">Współpraca przy konsweracji polichromii.</span>
        </div>
      </div>

    </div>


    </div>


    </section>



    {% include cta.html %}
    {% include footer.html %}
  </body>
</html>
