<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="services__view">
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION HERO START -->
    <!-- ######################################### -->

    <section class="service">
      <div class="expanded row">

        <div class="large-8 large-centered columns text-center">

            <div class="contact__typo">
              <!-- <div>{{ site | inspect }}</div> -->
              <h1>{{ site.translations[site.lang][page.active].h1 }}</h1>
              <!-- <h1>{{ site.translations.pl.conservation.h1 | inspect }}</h1> -->
              <h2>{{ site.translations[site.lang][page.active].h2 }}</h2>
              <!-- <div>
                {% for item in site.translations[site.lang] %}
                    <p>{{ item[0] }} -> {{ item[1] }}</p>
                {% endfor %}
              </div> -->
            </div>


        </div>

      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION HERO END -->
    <!-- ######################################### -->

    <section class="service__content">
      <div class="expanded row">
        <div class="small-6 medium-4 large-3 columns service__img__container">
          <img src="img/{{ page.active }}1.jpg" alt="" class="service__img box-shadow">
        </div>
        <div class="small-6 medium-4 large-3 columns service__img__container">
          <img src="img/{{ page.active }}2.jpg" alt="" class="service__img box-shadow">
        </div>
        <div class="small-6 medium-4 large-3 columns service__img__container">
          <img src="img/{{ page.active }}3.jpg" alt="" class="service__img box-shadow">
        </div>
        <div class="small-6 medium-4 large-3 columns service__img__container">
          <img src="img/{{ page.active }}4.jpg" alt="" class="service__img box-shadow">
        </div>

      </div>
      <div class="extended row">
        <div class="large-12 large-centered columns services__desc">
          <div class="wrapper">
            <h3>{{ site.translations[site.lang][page.active].h3 }}</h3>
          </div>
        </div>
      </div>
      <div class="extended row services__txt">
        <div class="large-6 columns">
          <p>{{ site.translations[site.lang][page.active].lp1 }}</p>
          <p>{{ site.translations[site.lang][page.active].lp2 }}</p>
        </div>
        <div class="large-6 columns">
          <p>{{ site.translations[site.lang][page.active].rp1 }}</p>
          <p>{{ site.translations[site.lang][page.active].rp2 }}</p>
        </div>
        </div>
      </div>
    </section>


  {% include cta.html %}
  {% include footer.html %}
  </body>
</html>
