<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include offcanvas.html %}
    {% include topbar.html %}


    <!-- ######################################### -->
    <!-- SECTION ABOUT START -->
    <!-- ######################################### -->
    <section class="about">
      <div class="expanded row">
        <div class="large-6 columns about__content text-center">

          <h1>{{ site.translations[site.lang].about.header }}</h1>
          <h2>{{ site.translations[site.lang].about.subheader }}</h2>
          <p>{{ site.translations[site.lang].about.p1 }}</p>
          <p>{{ site.translations[site.lang].about.p2 }}</p>
        </div>
        <div class="large-6 columns about__portrait">

        </div>
      </div>
      <div class="expanded row about__team">
        <div class="large-3 columns text-center">
          <h2>{{ site.translations[site.lang].about.team__header }}</h2>
        </div>
        <div class="large-9 columns text-center">
          <p>{{ site.translations[site.lang].about.team__p }}</p>
        </div>
      </div>
    </section>
    <!-- ######################################### -->
    <!-- SECTION ABOUT END -->
    <!-- ######################################### -->

    {% include cta.html %}
    {% include footer.html %}

  </body>
</html>
